# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/

# System files
.DS_Store
Thumbs.db

# Large raw datasets
data/*.zip

# Raw datasets
data/*.csv
data/*.zip